form label {
    font-weight: 700;
    color: #000;
    display: block;
    text-align: start;
    margin: 8px 30px;
}

input {
    background-color: #e2e8f0;
    padding: 1.5em 1em;
    margin: .5em auto;
    width: 80%;
    border: none;
    border-radius: 2px;
}

input::placeholder {
    color: #000;
}